#outlet {
    overflow-y: hidden;
}

.register-message {
    margin: 0 auto;
}

@media all and (max-width: 1200px) {
    .login-view {
        display: grid;
        padding: 5% 20%;
    }
}

@media all and (min-width: 1201px) {
    .login-view {
        display: grid;
        padding: 10% 40%;
    }
}

:host {
    display: block;
    padding: var(--lumo-space-m) var(--lumo-space-l);
}