#outlet {
    overflow-y: hidden;
}

.login-message {
    margin: 0 auto;
}

@media all and (max-width: 1200px) {
    .register-view {
        display: grid;
        padding: 15% 20%;
    }
}

@media all and (min-width: 1201px) {
    .register-view {
        display: grid;
        padding: 15% 40%;
    }
}

:host {
    display: block;
    padding: var(--lumo-space-m) var(--lumo-space-l);
}